@import 'defaults.styl'

html, body
    font 10px/1 'Roboto', sans-serif
    size 100% 100%
    padding 0
    margin 0
    
body
    background url('/imgs/bg.jpeg') 50% 50%
    background-size cover
    
@import 'blocks/*.styl'
    
.lp-page
    position relative
    width 1165px
    min-height 600px
    margin auto
    background url('/imgs/map.png') 0 0 no-repeat
    
    &__logo
        display block
        size 120px 93px
        background url('/imgs/logo.png') 0 0 no-repeat
        background-size contain
        
    &__body
        padding 6rem 0 0
        
    &__title
        position relative
        font 800 5rem/1.2 'Gotham Pro', sans-serif
        margin 0
        color #fff
        
        b
            color #FDB53C
            
        &::before
            content ''
            absolute width 3px height 20rem top 0 left -3rem
            box-sizing border-box
            border-top solid 5rem #FDB53C
            background-color #778D9F6B
            
            
    &__subject
        font-size 2.8rem
        font-weight 500
        margin 0
        padding 3rem 0 6rem
        color #fff
        
    &__muzik
        absolute bottom 0 left 50% width 327px height 708px
        margin 0 0 0 -14rem
        background url('/imgs/muzik.png') 0 0 no-repeat
        background-size contain
        z-index 2