$form-border
    content ''
    background url('/imgs/horizontal-leds.png') -1rem 50% repeat-x
    background-size auto 70px
           
.lp-form
    display block
    box-sizing border-box
    padding 0
    background-color #fff
    border-radius 5px
    text-align center
    
    &__title
        font-size 2.8rem
        font-weight 800
        line-height 1.2
        margin 0 0 3rem
        
        @media (max-width: 1024px)
            font-size 2rem
    
    &__input, &__submit
        display block
        width 100%
        font-size 1.4rem
        font-weight 400
        line-height 5rem
        text-align center
        
        @media (max-width: 1024px)
            line-height 4rem
        
    &__input
        color #BABBBC
        outline none
        border solid 1px #8D8D8D
        border-radius 4px
        box-shadow inset 0 2px 4px 1px rgba(#000, .25)
        margin 0 0 1.6rem
        transition .5s all ease
        
        &:focus
            box-shadow inset 0 2px 4px 1px rgba(#000, .1)
            
    &__submit
        font-weight 800
        background radial-gradient(33.00px at 50% -9%, #FFFFFF 0%, rgba(#fff, 0) 100%), #FDB53C
        color #000
        border 1px solid rgba(#000, 0.1)
        border-radius 5px
        
    @media (min-width: 1024px)
        &::before, &::after
            @extends $form-border
            
        &::before
            absolute top -2.5rem left 0 width 100% height 4.5rem
            transform rotate(180deg)
            
        &::after
            absolute bottom -2.5rem left 0 width 100% height 4.5rem
        
    &__inner
        padding 3rem
        
        @media (max-width: 1024px)
            padding 2rem
       
        @media (min-width: 1024px)
            &::before, &::after
                @extends $form-border
                
            &::before
                absolute top 0 left 2.5rem width 100% height 4.5rem
                transform rotate(90deg)
                transform-origin 0 0
                
            &::after
                absolute top 0 right 2.5rem width 100% height 4.5rem
                transform rotate(270deg)
                transform-origin 100% 0
            
    @media (max-width: 1024px)
        width 30rem
    