.lp-popup
    fixed top 0 left 0 width 100% height 100%
    z-index 10
    display block
    
    &.hidden
        display none
    
    &__overlay
        absolute top 0 left 0 width 100% height 100%
        background-color rgba(#000, .5)
        
    &__alert
        size 43rem 43rem
        
        &-text
            text-align center
            padding 3rem
            font-size 3rem
        
    &-form
        @extends $form
        absolute top 50% left 50%
        margin -21.5rem 0 0 -21.5rem
        
        @media (max-width: 1024px)
            width 30rem
            margin -15rem 0 0 -15rem
            
        @media (max-width: 720px)
            width 100%
            top 8rem
            left 0
            margin 0
        