.lp-top-info
    @extends $clear-block
    absolute top 0 right 0
    font-size 1.6rem
    line-height 1.5
    color #fff
    text-align right
    padding .5rem 0
    
    &__block
        float left
        padding 0 2rem 0 0
    
    &__title
        font-weight 400
        
    &__text
        font-weight 700
        
    &__button
        display block
        box-sizing border-box
        float left
        color #FDB53C
        font-size 1.4rem
        line-height 2.8
        padding 0 1.5rem
        background none
        border solid 1px #FDB53C
        border-radius 5px
        cursor pointer
        transition .5s all ease
        
        &:hover
            background-color #FDB53C
            color #000
    